/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
.classpath
.project
proguard/
*.iws
.idea/
*.log
Thumbs.db
.metadata/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

